<!DOCTYPE html>
<html>
<head>
  <title>TwitterResearch</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header><h1>Twitter Research</h1> </header>
  <nav>
    <ul>
      <li><%= link_to('Search', searches_url) %></li>
      <li><%= link_to('My Saved Tweets', tweets_url) %></li>
    </ul>
  </nav>

  <section>
    <%= yield %>
  </section>

</body>
</html>
